@use "../../styles/variables" as *;

.experience {
  position: relative;
  width: 100%;
  height: 100%;
  background: $color-black;
  overflow: hidden;

  &__img {
    position: absolute;
    width: 40%;
    height: auto;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
    aspect-ratio: 1/1;
    opacity: 0;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    color: $color-white;
    z-index: 2;

    &-text {
      display: block;
      margin-bottom: $space-sm;
      text-transform: capitalize;
    }

    &-inner {
      position: relative;
      width: 100%;
      height: clamp(2rem, 7vw, $font-size-112);
      z-index: 2;
      margin: 0 auto;
      perspective: 800px;
    }

    &-title {
      position: relative;
      display: inline-block;
      transform-origin: center center;
      text-transform: uppercase;
      width: 50%;
      height: 100%;
      transform-style: preserve-3d;
      // background-color: gray;
    }

    &-char {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      transform: translate(-50%, -50%);
      height: clamp(2rem, 7vw, $font-size-112);
      transform-style: preserve-3d;
      backface-visibility: hidden;
      text-align: center;
    }
  }

  &__list {
    min-width: 700vw;
    min-height: 100vh;
  }

  &__items {
    display: flex;
    flex-wrap: nowrap;
    min-width: 100vw;
    min-height: 100vh;
  }

  &__item {
    min-width: 100vw;
    min-height: 100vh;
    z-index: 2;
    perspective: 50rem;
    transform-style: preserve-3d;

    &-inner {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $color-white;
      text-align: center;
      backface-visibility: hidden;
      transform-style: preserve-3d;
    }

    &-num {
      color: $color-gray-100;
      font-style: italic;
    }

    &-title {
      width: 50%;
      margin: 0 auto;
      line-height: $line-height-130 !important;
    }
  }

  .dummy_item {
    min-width: 70vw;
  }

  @media (max-width: 1024px) {
    &__img {
      width: 80%;
    }

    &__header-char {
      font-size: clamp(2rem, 15vw, $font-size-84);
    }
  }
}
