@use "../../styles/variables" as *;

.qna {
  width: 100%;
  padding: 7.5rem 5%;
  background-color: $color-black;
  box-sizing: border-box;
  overflow: hidden;

  &__header {
    height: clamp(2rem, 7vw, $font-size-112);
    margin-bottom: 4.125rem;
    text-align: center;
    color: $color-white;
    text-transform: uppercase;
  }

  &__header span {
    display: inline-block;
    transform-origin: 0% 100%;
  }

  &__items {
    position: relative;
    width: 100%;
    height: 50vh;
  }

  &__item {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    padding: $space-2xl;
    color: $color-white;
    border-radius: $space-ml;
    background: rgba(58, 58, 58, 0.4);
    box-shadow: 0 0 28px 0 rgba(255, 255, 255, 0.12) inset;
    backdrop-filter: blur(14px);

    &-thumb {
      width: 30%;
      max-width: 12.5rem;
      height: auto;
      aspect-ratio: 1/1;
      margin-right: $space-2xl;
    }

    &-inner {
      display: inline-flex;
      flex-direction: column;
      gap: $space-xs;
    }
  }

  @media (max-width: 1024px) {
    height: 100dvh;
    padding: 16vh 5% 0;

    &__item {
      flex-direction: column;
      padding: $space-xl $space-ml;

      &-thumb {
        margin: 0 0 $space-ml;
      }

      &-question {
        margin-bottom: $space-ml;
      }
    }
  }
}
