@use "../../styles/font" as *;
@use "../../styles/variables" as *;

.aboutvisual {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: $color-black;

  .aboutvisual__inner {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__headline--first {
    position: relative;
    min-width: 100%;
    padding: 30vh 0 0 5%;
    color: $color-white;
    text-transform: uppercase;
    box-sizing: border-box;

    .aboutvisual__keyword-box {
      display: inline-block;
      width: fit-content;
    }

    .aboutvisual__keyword-inner {
      position: relative;
      display: inline-flex;
      flex-direction: column;
      height: clamp(2rem, 12vw, $font-size-168);
      overflow-y: hidden;
    }

    .aboutvisual__keyword {
      display: inline-block;
      font-weight: 300;
      text-transform: uppercase;
    }

    .aboutvisual__keyword-inner .hidden {
      position: relative;
      opacity: 0;
    }

    .aboutvisual__title span:last-child {
      display: inline-block;
      text-transform: lowercase;
    }

    .aboutvisual__title--second {
      margin-top: 5rem;
      text-transform: capitalize;
    }
  }

  &__headline--empty {
    min-width: 100%;
    height: 100vh;
  }

  &__headline--second {
    position: relative;
    top: 30vh;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: start;

    .headline__icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 1.25rem;
      width: max-content;
      height: 10vh;
      aspect-ratio: 1/1;
      background-color: rgba(58, 58, 58, 0.4);
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: 0 0 28px 0 rgba(255, 255, 255, 0.12) inset;
      backdrop-filter: blur(14px);
    }

    .headline__icon--code {
      padding: $space-ml;
      background-image: url("../../../public/ic_code.svg");
      background-size: 60%;
      transform: translateX(3.5vw) rotate(-10deg);
      z-index: 2;
    }

    .headline__icon--img {
      padding: $space-xl;
      background-image: url("../../../public/ic_image.svg");
      background-size: 40%;
      transform: translate(2.5vw, -10vh);
    }

    .headline__text-box {
      display: inline-block;
      width: max-content;
      padding: $space-ml;
      color: $color-black;
      background: $color-white;
      border-radius: $space-md;
      text-transform: uppercase;
      z-index: 2;
    }

    .headline__text-roundbox {
      position: relative;
      width: max-content;
      padding: $space-xl;
      color: $color-gray-400;
      border-radius: 6.25rem;
      background: rgba(58, 58, 58, 0.4);
      box-shadow: 0 0 28px 0 rgba(255, 255, 255, 0.12) inset;
      backdrop-filter: blur(14px);
      z-index: 2;

      b {
        color: $color-white;
      }
    }

    .headline__text-roundbox:nth-child(4) {
      bottom: $space-xl;
      left: $space-xl;
    }

    .headline__text-roundbox:nth-child(5) {
      top: calc($space-2xl * 2);
      right: calc($space-2xl * 3);
    }

    .headline__text-roundbox:nth-child(6) {
      bottom: $space-2xl;
      right: calc($space-2xl * 8);
    }
    .headline__img {
      position: relative;
      width: 20vw;
      bottom: calc($space-2xl * 2);
      right: calc($space-2xl * 10);
      aspect-ratio: 1/1;
      background: url("../../../public/img_footer.png") no-repeat center;
      background-size: contain;
      z-index: 0;
    }
    .headline__text-roundbox:nth-child(8) {
      top: calc($space-xl);
      right: calc($space-2xl * 7);
    }
  }

  @media (max-width: 1024px) {
    &__headline--first {
      padding-top: 11.25rem;
      padding-bottom: 6.25rem;

      .aboutvisual__keyword-inner {
        height: clamp(2rem, 15vw, 5.25rem);
      }

      .aboutvisual__title span:last-child {
        display: block;
        margin-top: $space-ml;
      }

      .aboutvisual__title--second {
        margin-top: unset;
        position: absolute;
        bottom: 6.25rem;
      }
    }

    &__headline--second {
      .headline__icon--img {
        padding: $space-ml;
        background-size: 60%;
        transform: translate(2.5vw, 10vh);
      }

      .headline__text-roundbox:nth-child(6) {
        right: calc($space-2xl * 5);
      }

      .headline__img {
        width: 40vw;
        right: calc($space-2xl * 6);
        bottom: calc($space-2xl * 1);
      }
    }
  }
}
