@use "../../styles/font" as *;
@use "../../styles/variables" as *;

.experience {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: $color-black;

  &__img {
    position: absolute;
    width: 40%;
    height: auto;
    aspect-ratio: 1/1;
    opacity: 0.7;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__header {
    width: 100%;
    text-align: center;
    color: $color-white;
    z-index: 2;

    &-text {
      margin-bottom: $space-sm;
      text-transform: capitalize;
    }

    &-title {
      text-transform: uppercase;
    }
  }

  &__items {
    display: flex;
    flex-wrap: nowrap;
  }

  &__item {
    min-width: 100%;
    color: $color-white;
    text-align: center;
    z-index: 2;

    &-num {
      color: $color-gray-100;
      font-style: italic;
    }

    &-title {
      width: 50%;
      margin: 0 auto;
      line-height: $line-height-130 !important;
    }
  }
}
