@use "../../styles/font" as *;
@use "../../styles/variables" as *;

.insight {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 0 14%;
  box-sizing: border-box;
  background: $color-black;

  &__title {
    margin-bottom: 5rem;
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
  }

  &__toggle-box {
    display: block;
    width: 70%;
    margin-bottom: 1.875rem;
    border-radius: 6.25rem;
    background: var(--color-white-transparent, rgba(255, 255, 255, 0.3));
    box-shadow: 0 0 9px 0 rgba(255, 255, 255, 0.2) inset;
  }

  &__toggle {
    display: inline-block;
    width: 50%;
    height: 3.125rem;
    line-height: 3.125rem;
    padding: 0 $space-md;
    text-transform: capitalize;
    text-align: center;
    color: $color-white;
    box-sizing: border-box;
    cursor: pointer;

    &-active {
      background-color: $color-white;
      color: $color-black;
      border-radius: 6.25rem;
    }
  }

  &__contents {
    width: 100%;
    height: auto;
    aspect-ratio: 10/4;
    border-radius: 0.75rem;
    background: url("../../../public/img_insightbg.jpg") no-repeat center;
    background-size: cover;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__content {
    display: none;
    padding: 5rem 5rem 10rem;

    &-active {
      display: block;
    }

    &-title {
      margin-bottom: 2.5rem;
      color: $color-white;
    }

    &-desc {
      color: $color-gray-200;
    }
  }

  @media (max-width: 1024px) {
    justify-content: flex-start;
    padding: 140px 5% 2.5rem;

    &__title {
      margin-bottom: 3.75rem;
    }

    &__toggle-box {
      width: 100%;
    }

    &__contents {
      aspect-ratio: unset;
    }

    &__content {
      width: 100%;
      height: 100%;
    }
  }
}
