@use "../../styles/font" as *;
@use "../../styles/variables" as *;

.projects {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  padding: 9.375rem $space-2xl;
  background-color: $color-black;

  &__title {
    margin-bottom: $space-2xl;
    padding-top: $space-2xl;
    color: $color-white;
    text-transform: uppercase;
    transform-origin: left top;

    i {
      font-style: italic;
      font-weight: 300;
    }
  }

  &__categories {
    display: flex;
    // height: 2.25rem;
    gap: $space-sm;
    margin-bottom: $space-2xl;
  }

  &__category {
    display: inline-flex;
    padding: $space-xs $space-md;
    background: var(--color-gray500-transparent, rgba(58, 58, 58, 0.4));
    box-shadow: 0 0 28px 0 rgba(255, 255, 255, 0.12) inset;
    backdrop-filter: blur(14px);
    border-radius: 6.25rem;
    color: $color-white;
    cursor: pointer;

    &--active {
      background-color: $color-white;
      color: $color-black;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: $space-xl 6%;
  }

  &__item {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 46%;
    color: $color-white;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      .projects__thumb {
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.3) 0%,
          rgba(0, 0, 0, 0.3) 100%
        );

        filter: blur(6px);
      }

      .projects__desc,
      .projects__name,
      .projects__period {
        display: inline-block;
      }
    }
  }

  &__item-inner {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__thumb {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 6/3.8;
    border-radius: $space-md;
    overflow: hidden;
    z-index: 0;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  &__desc,
  &__name,
  &__period {
    display: none;
  }

  &__desc,
  &__name {
    margin-bottom: $space-md;
  }

  &__period {
    margin-bottom: $space-xl;
  }
}

@media (max-width: 1024px) {
  .projects {
    padding: $space-xl 5%;
    height: auto;

    &__title i {
      display: block;
      margin-bottom: $space-sm;
    }

    &__items {
      gap: $space-xl;
    }

    &__item {
      width: 100%;

      .projects__desc {
        display: block;
      }

      &:hover {
        .projects__thumb {
          background: unset;
          filter: none;
        }

        .projects__name,
        .projects__period {
          display: none;
        }

        .projects__desc {
          display: block;
        }
      }
    }

    &__item-inner {
      position: relative;
      align-items: flex-start;
      height: auto;
      margin-top: $space-md;
    }
  }
}
