@import "./font";
@import "./variables";

html,
body {
  margin: 0;
  font-family: $font-nanumsquare;
  color: $color-black;
}

html,
body {
  margin: 0;
  height: 0;
  font-family: $font-nanumsquare;
}

ol,
ul {
  list-style: none;
}

p,
div {
  margin: 0;
  padding: 0;
}

small {
  font-size: initial;
}

ul,
li,
div,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
