/* Color System */
$color-black: #000;
$color-gray-500: #3a3a3a;
$color-gray-400: #676767;
$color-gray-300: #8a8a8a;
$color-gray-200: #c4c4c4;
$color-gray-100: #f3f3f3;
$color-white: #fff;

/* Spacing System */
$space-2xs: 0.25rem;
$space-xs: 0.5rem;
$space-sm: 0.625rem;
$space-md: 1rem;
$space-ml: 1.25rem;
$space-xl: 2.5rem;
$space-2xl: 5rem;

/* Font System */
$font-neuils: "neulis-neue";
$font-nanumsquare: "NanumSquareRound";

$font-size-280: 17.5rem;
$font-size-168: 10.5rem;
$font-size-112: 7rem;
$font-size-104: 6.5rem;
$font-size-84: 5.25rem;
$font-size-56: 3.5rem;
$font-size-54: 3.375rem;
$font-size-48: 3rem;
$font-size-42: 2.625rem;
$font-size-40: 2.5rem;
$font-size-38: 2.375rem;
$font-size-36: 2.25rem;
$font-size-32: 2rem;
$font-size-28: 1.75rem;
$font-size-24: 1.5rem;
$font-size-20: 1.25rem;
$font-size-18: 1.125rem;
$font-size-16: 1rem;
$font-size-14: 0.875rem;

$line-height-90: 0.9;
$line-height-100: 1;
$line-height-130: 1.3;
$line-height-150: 1.5;
$line-height-170: 1.7;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
