/* Color System */
$color-black: #000;
$color-gray-500: #3a3a3a;
$color-gray-400: #676767;
$color-gray-300: #8a8a8a;
$color-gray-200: #c4c4c4;
$color-gray-100: #f3f3f3;
$color-white: #fff;

/* Spacing System */
$space-2xs: 0.25rem;
$space-xs: 0.5rem;
$space-sm: 0.625rem;
$space-md: 1rem;
$space-ml: 1.25rem;
$space-xl: 2.5rem;
$space-2xl: 5rem;

/* Font System */
$font-neuils: "neulis-neue";
$font-nanumsquare: "NanumSquareRound";

$font-size-280: 17.5rem;
$font-size-168: 168px;
$font-size-112: 7rem;
$font-size-104: 6.5rem;
$font-size-84: 5.25rem;
$font-size-56: 56px;
$font-size-54: 54px;
$font-size-48: 48px;
$font-size-42: 42px;
$font-size-40: 2.5rem;
$font-size-38: 38px;
$font-size-36: 2.25rem;
$font-size-32: 32px;
$font-size-28: 1.75rem;
$font-size-24: 1.5rem;
$font-size-20: 1.25rem;
$font-size-18: 1.125rem;
$font-size-16: 1rem;
$font-size-14: 0.875rem;

$line-height-90: 0.9;
$line-height-100: 1;
$line-height-130: 1.3;
$line-height-150: 1.5;
$line-height-170: 1.7;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

%en-base {
  font-family: $font-neuils;
}

%kr-base {
  font-family: $font-nanumsquare;
}

.en-h1 {
  @extend %en-base;
  font-size: $font-size-280;
  line-height: $line-height-90;
  font-weight: $font-weight-bold;
}

.en-h2 {
  @extend %en-base;
  font-size: $font-size-168;
  line-height: $line-height-90;
  font-weight: $font-weight-bold;
}

.en-h3 {
  @extend %en-base;
  font-size: $font-size-112;
  line-height: $line-height-90;
  font-weight: $font-weight-bold;
}

.en-h4 {
  @extend %en-base;
  font-size: $font-size-84;
  line-height: $line-height-90;
  font-weight: $font-weight-bold;
}

.en-t1 {
  @extend %en-base;
  font-size: $font-size-56;
  line-height: $line-height-130;
  font-weight: $font-weight-bold;
}

.en-t2 {
  @extend %en-base;
  font-size: $font-size-40;
  line-height: $line-height-130;
  font-weight: $font-weight-regular;
}

.en-t3 {
  @extend %en-base;
  font-size: $font-size-36;
  line-height: $line-height-130;
  font-weight: $font-weight-regular;
}

.en-s1 {
  @extend %en-base;
  font-size: $font-size-24;
  line-height: $line-height-130;
  font-weight: $font-weight-medium;
}

.en-s1-italic {
  @extend %en-base;
  font-size: $font-size-24;
  line-height: $line-height-130;
  font-weight: $font-weight-medium;
  font-style: italic;
}

.en-b1 {
  @extend %en-base;
  font-size: $font-size-18;
  line-height: $line-height-100;
  font-weight: $font-weight-medium;
}

.en-b2 {
  @extend %en-base;
  font-size: $font-size-16;
  line-height: $line-height-130;
  font-weight: $font-weight-regular;
}

.kr-t1 {
  @extend %kr-base;
  font-size: $font-size-48;
  line-height: $line-height-100;
  font-weight: $font-weight-bold;
}

.kr-t2 {
  @extend %kr-base;
  font-size: $font-size-40;
  line-height: $line-height-100;
  font-weight: $font-weight-bold;
}

.kr-t3 {
  @extend %kr-base;
  font-size: $font-size-32;
  line-height: $line-height-100;
  font-weight: $font-weight-bold;
}

.kr-s1 {
  @extend %kr-base;
  font-size: $font-size-24;
  line-height: $line-height-130;
  font-weight: $font-weight-bold;
}

.kr-b1 {
  @extend %kr-base;
  font-size: $font-size-16;
  line-height: $line-height-150;
  font-weight: $font-weight-regular;
}

.kr-b2 {
  @extend %kr-base;
  font-size: $font-size-14;
  line-height: $line-height-170;
  font-weight: $font-weight-regular;
}

.test {
  background-color: red;
  font-size: 180px;
}

@media (max-width: 1024px) {
  .en-h1 {
    font-size: $font-size-104;
  }

  .en-h2 {
    font-size: $font-size-54;
  }

  .en-h3 {
    font-size: $font-size-54;
  }

  .en-h4 {
    font-size: $font-size-42;
  }

  .en-t1 {
    font-size: $font-size-38;
  }

  .en-t2 {
    font-size: $font-size-38;
  }

  .en-t3 {
    font-size: $font-size-24;
  }

  .en-s1 {
    font-size: $font-size-20;
  }

  .en-b1 {
    font-size: $font-size-16;
  }

  .en-s1 {
    font-size: $font-size-14;
  }

  .kr-t1 {
    font-size: $font-size-28;
  }

  .kr-t2 {
    font-size: $font-size-28;
  }

  .kr-b1 {
    font-size: $font-size-16;
  }

  .kr-b2 {
    font-size: $font-size-14;
  }
}
