@use "../../styles/variables" as *;

$card-count: 4;

.portfolio {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: $color-black;

  &__title {
    position: absolute;
    top: 15vh;
    color: $color-white;
    opacity: 0.08;
    text-transform: uppercase;
    white-space: nowrap;

    &--pc {
      display: block;
    }

    &--mo {
      display: none;
    }
  }

  &__cards-wrapper {
    display: flex;
    width: 70%;
    perspective: 5000px;
    perspective-origin: center;
  }

  &__cards {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    aspect-ratio: 44/30;
    transform: rotateX(70deg) rotateZ(60deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }

  &__card {
    position: relative;
    width: 40%;
    aspect-ratio: 44/30;
    border-radius: 1rem;
    transform: rotateX(-88deg) rotateY(20deg);
    transform-style: preserve-3d;
    margin-bottom: -10vh;
    cursor: pointer;

    @for $i from 1 through $card-count {
      &:nth-child(#{$i}) {
        z-index: 4 - $i;
      }
    }

    &:hover {
      transform: translate3d(0, 0, 100px) rotateX(-88deg) rotateY(20deg);

      span {
        opacity: 1;
      }
    }

    &-thumb {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: $space-md;
      overflow: hidden;
    }

    span {
      position: relative;
      display: inline-block;
      left: 102%;
      bottom: 100%;
      color: $color-white;
      z-index: 99;
      text-transform: uppercase;
      font-weight: 700;
      opacity: 0;
    }
  }
}

@media (max-width: 1024px) {
  .portfolio {
    padding-top: 25vh;
    height: auto;

    &__title {
      top: 7.5rem;

      &--pc {
        display: none;
      }

      &--mo {
        display: block;
      }
    }

    &__cards-wrapper {
      perspective: none;
      width: 90%;
    }

    &__cards {
      width: 100%;
      justify-content: flex-start;
      aspect-ratio: unset;
      margin: 0 auto;
      perspective: none;
      height: auto;
      flex-direction: column;
      gap: $space-xl;
      transform-style: unset;
      transform: none;
      perspective: none;
    }

    &__card {
      position: relative;
      width: 100%;
      margin: 0;
      transform-style: unset;
      transform: none;
      perspective: none;

      a {
        transform: none;
      }

      span {
        opacity: 0;
      }

      &:hover {
        transform: none;

        span {
          opacity: 0;
        }
      }
    }
  }
}
