@use "../../styles/variables" as *;

.point-visual {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 0 14%;
  background-color: $color-black;
  color: $color-gray-300;
  overflow: hidden;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem 10%;
  }

  &__item {
    position: relative;
  }

  &__item--intro {
    width: 75%;
  }

  &__item--img {
    width: 15%;
  }

  &__item--code {
    position: relative;
    left: 15%;
    width: 10%;
  }

  &__item--desc {
    position: relative;
    left: 15%;
    width: 50%;
  }

  &__title {
    position: relative;
    left: $space-md;
    margin-bottom: $space-xs;
    color: $color-gray-100;
    text-transform: capitalize;
  }

  &__text,
  &__icon {
    border-radius: $space-ml;
    background: rgba(58, 58, 58, 0.4);
    box-shadow: 0 0 28px 0 rgba(255, 255, 255, 0.12) inset;
    backdrop-filter: blur(14px);
    line-height: $line-height-150 !important;

    b {
      display: inline;
      color: $color-white;
    }
  }

  &__text {
    padding: $space-xl;
  }

  &__icon {
    display: inline-block;
    width: 100%;
    aspect-ratio: 1/1;

    &--img {
      background-image: url("../../../public/ic_image.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: calc(100% - $space-xl * 2);
    }

    &--code {
      background-image: url("../../../public/ic_code.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: calc(100% - $space-ml * 2);
    }
  }
}

@media (max-width: 1024px) {
  .point-visual {
    height: 100vh;
    padding: 0 5%;

    &__inner {
      align-items: center;
      gap: 0 1rem;
    }

    &__text {
      padding: $space-ml;
    }

    &__item {
      &--intro {
        width: 70%;
      }

      &--img {
        width: 23%;
      }

      &--code {
        position: relative;
        left: 74%;
        bottom: 3vh;
        width: 20%;
      }

      &--desc {
        width: 90%;
        left: 0;
      }
    }

    &__icon--img {
      background-size: 50%;
    }
  }
}
