@use "../../styles/font" as *;
@use "../../styles/variables" as *;

$card-count: 4;

.portfolio {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: $color-black;

  &__title {
    position: relative;
    top: 15vh;
    color: $color-white;
    opacity: 0.08;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__cards-wrapper {
    // perspective: 7000px;
    // transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    //   rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    // transform-style: preserve-3d;
  }

  &__cards {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 100%;
    height: 40%;
    // transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateX(74.6203deg)
    //   rotateY(0deg) rotateZ(50deg) skew(0deg, 0deg);
    will-change: transform;
    // perspective: 800px;
    // transform-style: preserve-3d;
  }

  &__card {
    // position: absolute;
    // left: 0;
    // top: 0;
    width: 60%;
    aspect-ratio: 430/290;

    border-radius: 1rem;
    margin-top: -10vh;
    margin-bottom: -10vh;
    perspective: 800px;
    transform-style: preserve-3d;

    @for $i from 1 through $card-count {
      &:nth-child(#{$i}) {
        z-index: 4 - $i;
      }
    }

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      transform: rotateY(-60deg);
      background: gray;
      opacity: 0.7;
    }
  }
}

@media (max-width: 1024px) {
  .portfolio {
    &__title {
      top: 7.5rem;
    }

    &__cards {
      width: 90%;
      margin: 0 auto;
      perspective: none;
      height: auto;
      flex-direction: column;
      gap: $space-xl;
    }

    &__card {
      position: relative;
      width: 100%;
      transform-style: unset;
      transform: none !important;
    }

    @for $i from 1 through $card-count {
      &:nth-child(#{$i}) {
        z-index: 1 !important;
        transform: none !important;
      }
    }
  }
}
