@use "../styles/font" as *;
@use "../styles/variables" as *;

.footer {
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12.5rem 5vw 5rem;
  box-sizing: border-box;

  &__title {
    display: flex;
    align-items: center;
    color: $color-white;
    text-transform: uppercase;

    span:first-child {
      position: relative;
      left: 1rem;
    }

    span:last-child {
      position: relative;
      right: 2rem;
    }

    &-img {
      position: relative;
      display: inline-block;
      width: 20vw;
      aspect-ratio: 1/1;
    }
  }

  &__info-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 9.875rem;
    color: $color-white;
  }

  &__desc {
    max-width: 17.625rem;
    color: $color-gray-300;

    &--highlight {
      color: $color-white;
    }
  }

  &__email {
    display: inline-flex;
    width: 20%;
    align-items: center;
    justify-content: space-between;
    padding: $space-xs;
    border-radius: 6.25rem;
    background-color: $color-gray-300;
    color: $color-white;

    span {
      padding: $space-xs $space-sm $space-xs $space-ml;
    }

    a {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: $color-white;
    }
  }
}
