@use "../styles/font" as *;
@use "../styles/variables" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: $space-ml 5% 0;
  z-index: 999;
  color: $color-white;

  &__title {
    text-transform: uppercase;
    color: $color-white;
    text-decoration: none;
  }

  .header__nav-link {
    text-transform: capitalize;
    line-height: 1.5;
    text-decoration: none;
  }

  .header__nav--pc {
    display: flex;
  }
  .header__nav--mo {
    display: none;
  }

  &__nav--pc {
    .header__nav-list {
      display: inline-flex;
      position: relative;
      right: 3rem;
      height: 3rem;
      background: var(--color-white-transparent, rgba(255, 255, 255, 0.3));
      box-shadow: 0 0 9px 0 rgba(255, 255, 255, 0.2) inset;
      border-radius: 6.25rem;
    }

    .header__nav-list::after {
      content: "";
      position: absolute;
      left: 100%;
      height: 3rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background: $color-white url("../../public/ic_arrow.svg") no-repeat center;
      cursor: pointer;
    }

    .header__nav-item {
      padding: $space-sm $space-md;
    }

    .header__nav-link {
      width: 100%;
      height: 100%;
      color: $color-white;
    }

    .header__nav-item--contact {
      background-color: $color-white;
      border-radius: 6.25rem;

      a {
        color: $color-black;
      }
    }
  }

  &__nav--mo {
    position: relative;
    display: block;

    .header__nav-btn {
      background-color: $color-white;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      cursor: pointer;
    }

    .header__nav-list {
      position: absolute;
      top: 3.5rem;
      right: 5%;
      display: inline-flex;
      flex-direction: column;
      width: max-content;
      background-color: $color-white;
      border-radius: 0.75rem;
    }

    .header__nav-item {
      padding: $space-sm $space-md;
    }

    .header__nav-link {
      color: $color-black;
      text-decoration: none;
    }
  }

  @media (max-width: 1024px) {
    .header__title {
      font-size: $font-size-20;
    }
    .header__nav--pc {
      display: none;
    }
    .header__nav--mo {
      display: flex;
    }
  }
}
